<div class="recherche">

    <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input [(ngModel)]="searchString" pInputText placeholder="Search" />
    </p-iconField>

    
    <p-dropdown 
    [options]="pokemons | filterPokemonPipe: 'name': searchString" 
    [(ngModel)]="selectedPokemonId" 
    optionLabel="name" 
    optionValue="id"
    placeholder="Select a Pokemon" 
    (onChange)="update(selectedPokemonId)"
    />

</div>
<br>
<app-data-details></app-data-details>