<div class="main-container">
  <button class="arrow-left" (click)="previousPokemon()">❮</button>

  <button class="card-button" (click)="activateBackCard()">

    <div class="card-container" *ngIf="!cardBack">
      <div class="name-container">
        <h3>{{ pokemonDetails?.name | titlecase }}</h3>
        <div class="hp-container">
          <p>HP</p>
          <h3>{{pokemonDetails?.stats?.at(0)?.base_stat}}</h3>
          <span *ngFor="let type of pokemonDetails?.types; let last = last">
            <span [ngClass]="type.type.name"></span><span *ngIf="!last"> | </span>
          </span>
        </div>
      </div>

      <div class="img-container">
        <img [src]="pokemonImage" alt="{{ pokemonDetails?.name }}" />
        <div class="details-container">
          <p>Number : {{pokemonDetails?.id}}</p>
          <p>Size : {{ (pokemonDetails?.height ?? 0) / 10 }} m</p>
          <p>Weight : {{ (pokemonDetails?.weight ?? 0) / 10 }} kg</p>
        </div>
      </div>

      <div class="attacks-container">
        <h4>Main moves</h4>
        <ul>
          <li *ngFor="let move of pokemonDetails?.moves | slice:0:5">
            {{ move.move.name }}
          </li>
        </ul>
      </div>

    </div>

    

    <img src="carte-dos.png" alt="Dos carte pokemon" *ngIf="cardBack" class="img-dos">
  </button>


  <button class="arrow-right" (click)="nextPokemon()">❯</button>
</div>