html, body {
    height: 100%;
}

body {
    background-image: url('./assets/wallpaper3.png'); /* Remplacez 'your-image-file.jpg' par le nom de votre fichier */
    background-size: cover;  /* Pour couvrir tout l'écran */
    background-repeat: no-repeat;  /* Pour éviter la répétition de l'image */
    background-position: center;  /* Pour centrer l'image */
    margin: 0;
}
  