html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif; /* Police moderne */
    background-color: rgb(31, 31, 31); /* Fond sombre global */
    color: white; /* Texte blanc global */
}
